/* Richtext Editor */
.rt-preview {
    border: solid 1px #ccc; 
    padding: 10px;
  }
  .richtext-editor {
    border: solid 1px #ccc;
  }
  .editor-area {
    max-height: 500px;
    border: solid 1px #ccc;
    margin-top: 20px;
    padding: 20px;
  }
  /* .editor-area div {
    font-family: initial;
  }
  .editor-area span,
  .editor-area a {
    font-family: inherit;
  } */
  .rdw-fontfamily-optionwrapper {
    width: 160px;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(1) {
    font-family: 'Roboto', sans-serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(2) {
    font-family: 'Arial', sans-serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(3) {
    font-family: 'Georgia', serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(4) {
    font-family: 'Impact', sans-serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(5) {
    font-family: 'Tahoma', sans-serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(6) {
    font-family: 'Times New Roman', sans-serif;
  }
  .rdw-fontfamily-optionwrapper li:nth-child(7) {
    font-family: 'Verdana', sans-serif;
  }
  .rdw-fontsize-dropdown ul {
    position: absolute;
    width: 130px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(1) {
    font-size: 8px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(2) {
    font-size: 9px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(3) {
    font-size: 10px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(4) {
    font-size: 11px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(5) {
    font-size: 12px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(6) {
    font-size: 14px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(7) {
    font-size: 16px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(8) {
    font-size: 18px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(9) {
    font-size: 24px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(10) {
    font-size: 30px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(11) {
    font-size: 36px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(12) {
    font-size: 48px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(13) {
    font-size: 60px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(14) {
    font-size: 72px;
  }
  .rdw-fontsize-dropdown ul li:nth-child(15) {
    font-size: 96px;
  }
  .rdw-block-wrapper ul li:nth-child(1) {
    font-size: 14px;
  }
  .rdw-block-wrapper ul li:nth-child(2) {
    font-size: 40px;
  }
  .rdw-block-wrapper ul li:nth-child(3) {
    font-size: 32px;
  }
  .rdw-block-wrapper ul li:nth-child(4) {
    font-size: 16px;
    font-weight: 400;
  }
  .rdw-block-wrapper ul li:nth-child(5) {
    font-size: 14px;
  }
  .rdw-block-wrapper ul li:nth-child(6) {
    font-size: 14px;
  }
  .rdw-block-wrapper ul li:nth-child(7) {
    font-size: 10px;
  }
  .rdw-block-wrapper ul li:nth-child(8) {
    font-size: 14px;
  }
  .rdw-block-wrapper ul li:nth-child(9) {
    font-size: 14px;
  }
  .rdw-link-decorator-icon {
    width: 14px;
    height: 14px;
  }
  /* Richtext Preview Styles */
.blog-content figure {
  text-align: center;
}
.blog-content li {
  font-size: 14px;
}
.blog-content p {
  margin-bottom: 20px
}
.blog-content p:last-child {
  margin-bottom: 0
}
.blog-content ul {
  list-style-position: inside;
  list-style-type: disc; 
}
.blog-content ol {
  list-style-position: inside;
}
.blog-content h3,
.blog-content h4 {
  margin: 20px 0;
}
.blog-content h5,
.blog-content h6 {
  margin: 10px 0;
}
.comment {
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.blog-content a {
  text-decoration: underline;
}