/* Carousel Styles */
.carousel,
.carousel-text {
  width: 100%;
  max-width: 860px;
  overflow: hidden;
  margin: 0 auto;
  line-height: 1.8em;
}
.carousel ul,
.carousel-text ul {
  position: relative;
  white-space: nowrap;
}
.carousel ul.transition,
.carousel-text ul.transition {
  transition: left var(--speed);
}
.carousel li {
  width: calc(100% / 3);
  height: 335px;
  display: inline-block;
  overflow: hidden;
  border: solid 20px white; 
}
.carousel ul.transition li,
.carousel-text ul.transition li {
  transition: all var(--speed);
}
.carousel-text li {
  font-size: 14px;
  width: 100%;  
  padding: 0 40px;
  display: inline-block;
  white-space: normal;  
}
.carousel img {
  opacity: 0.5;  
  transition: none;
}
.carousel .active {
  border: solid 5px #333;
  box-shadow: var(--box-shadow); 
  position: relative;
}
.carousel .active img {
  opacity: 1;  
}